## Setup

This guide was written in R 3.2.3.


### R and R Studio

Install [R](https://www.r-project.org/) and [R Studio](https://www.rstudio.com/products/rstudio/download/).

Next, to install the R packages, cd into your workspace, and enter the following, very simple, command into your bash: 

```
R
```

This will prompt a session in R! From here, you can install any needed packages. For the sake of this tutorial, enter the following into your terminal R session:

```
install.packages("dplyr")
install.packages("downloader")
```

## Introduction

We've gone over Data Acquisition as of now, so we know how to <i>get</i> our data. But once you have the data, it might not be in the best shape. You might have scraped a bunch of data from a website, but need it in the form of a dataframe to work with it in an easier manner. This process is called data preparation - preparing your data in a format that's easiest to form with.

### Overview

<b> Data Acquisition: </b> Reading and writing with a variety of file formats and databases. <br>
<b> Preparation: </b> Cleaning, munging, combining, normalizing, reshaping, slicing and dicing, and transforming data for analysis. <br>
<b> Transformation: </b> Applying mathematical and statistical operations to groups of data sets to derive new data sets. For example, aggregating a large table by group variables. <br>
<b> Modeling and computation: </b> Connecting your data to statistical models, machine learning algorithms, or other computational tools <br>
<b> Presentation: </b> Creating interactive or static graphical visualizations or textual summaries <br>

## Data Merging

If you encounter two different datasets that contain the same type of information, you might consider merging them for your analyses. This is yet another functionality built into `pandas`. 

Let's go through an example containing student data. `d1` contains 5 of the samples and `d2` contains 2 of them:

In [1]:
d1 <- read.csv("./names_original.csv")
print(d1)

  First.Name Last.Name
1     Lesley   Cordero
2       Ojas     Sathe
3      Helen      Chen
4        Eli  Epperson
5      Jacob Greenberg

In [14]:
d2 = pd.read_csv("./names_add.csv")
print(d2)

  First Name Last Name
0     Martin     Perez
1      Menna   Elsayed

### Concatenation 

Instead of working with two separate datasets, it's much easier to simply merge, so we do this with the `concat()` function:

In [23]:
result = pd.concat([d1,d2])
print(result)

  First Name  Last Name
0     Lesley    Cordero
1       Ojas      Sathe
2      Helen       Chen
3        Eli   Epperson
4      Jacob  Greenberg
0     Martin      Perez
1      Menna    Elsayed

Now, you might be asking what will happen if one of the datasets has more columns than other - will they still be allowed to merge? Let's try this example with another dataset:

In [24]:
d3 = pd.read_csv("./names_extra.csv")
print(d3)

  First Name Last Name                   Major
0     Martin     Perez  Mechanical Engineering
1      Menna   Elsayed               Sociology

If we use the same `concat()` function, we get:

In [28]:
result1 = pd.concat([d1, d3])
print(result1)

  First Name  Last Name                   Major
0     Lesley    Cordero                     NaN
1       Ojas      Sathe                     NaN
2      Helen       Chen                     NaN
3        Eli   Epperson                     NaN
4      Jacob  Greenberg                     NaN
0     Martin      Perez  Mechanical Engineering
1      Menna    Elsayed               Sociology

Notice the `NaN` values - these are undefined values indicating there wasn't any data to be displayed. `pandas` will simply fill in the missing data for each sample where it's unavailable:

In [41]:
print(result1['Major'][0])

0                       NaN
0    Mechanical Engineering
Name: Major, dtype: object

### Merging

Now, how do we merge two datasets with differing columns? Well, let's take a look at our datasets:

In [15]:
h1 = pd.read_csv("./housing.csv")
print(h1)

          Dorm            Name
0  East Campus      Helen Chen
1     Broadway   Danielle Jing
2      Shapiro    Craig Rhodes
3         Watt  Lesley Cordero
4  East Campus    Martin Perez
5     Broadway   Menna Elsayed
6      Wallach   Will Essilfie

In [16]:
h2 = pd.read_csv("./dorms.csv")
print(h2)

          Dorm Street    Cost
0     Broadway  114th    9000
1      Shapiro  115th    9500
2         Watt  113th   10500
3  East Campus  116th  11,000
4      Wallach  114th    9500

With the `merge()` function in pandas, we can specify which column to merge on and what kind of join to specify. By default merge does an 'inner' join, but here we set it to a left join:

In [22]:
house = pd.merge(h1, h2, on="Dorm", how="left")
print(house)

          Dorm            Name Street    Cost
0  East Campus      Helen Chen  116th  11,000
1     Broadway   Danielle Jing  114th    9000
2      Shapiro    Craig Rhodes  115th    9500
3         Watt  Lesley Cordero  113th   10500
4  East Campus    Martin Perez  116th  11,000
5     Broadway   Menna Elsayed  114th    9000
6      Wallach   Will Essilfie  114th    9500